.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  .form {
    width: 320px;
    .submitButton {
      :global(.ant-form-item-control-input-content) {
        display: flex;
        justify-content: center;
        button:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}