.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  .form {
    width: 360px;
    .uploadAvatr {
      :global(.ant-upload) {
        background: transparent;
      }
    }
    :global(.ant-input-affix-wrapper) {
      background: transparent;
      input {
        color: white;
        background: transparent;
      }
    }
    .submitButton {
      :global(.ant-form-item-control-input-content) {
        display: flex;
        justify-content: center;
        button:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}